# paritytech/wasmi

stages:
  - benchmark

default:
  retry:
    max: 2
    when:
      - runner_system_failure
      - unknown_failure
      - api_failure

.docker-env:                       &docker-env
  image:                           "paritytech/ci-linux:production"
  interruptible:                   true
  tags:
    - linux-docker-benches

# benchmark
criterion-benchmark:
  stage:                           benchmark
  rules:
  - if: $CI_COMMIT_REF_NAME =~ /^[0-9]+$/                   # PRs
  <<:                              *docker-env
  script:
    - cargo install cargo-criterion
    - git fetch
    - git submodule update --init --recursive
    - git checkout master
    - git pull
    - cd wasmi_v1
    # benchmark master
    - cargo criterion --message-format=json | tee -a benchmarks.json
    # benchmark PR
    - git checkout $CI_COMMIT_SHA
    - cargo criterion --message-format=json | tee -a benchmarks.json
    - bash ../scripts/ci/benchmarks-report.sh benchmarks.json
