# paritytech/wasmi

stages:
  - benchmark

default:
  retry:
    max: 2
    when:
      - runner_system_failure
      - unknown_failure
      - api_failure

.docker-env:                       &docker-env
  image:                           "paritytech/ci-linux:production"
  interruptible:                   true
  tags:
    - linux-docker-benches

# benchmark
criterion-benchmark:
  stage:                           benchmark
  rules:
  - if: $CI_COMMIT_REF_NAME =~ /^[0-9]+$/                   # PRs
  <<:                              *docker-env
  script:
    - cargo install cargo-criterion
    - git fetch
    # Benchmark Branch: `master`
    - git checkout master
    - git pull
    - git submodule update --init --recursive
    - mkdir -p ./target/ci
    - pushd ./crates/wasmi
    - cargo criterion --message-format=json | tee -a ../target/ci/benchmarks.json
    - popd
    - git submodule deinit --all -f
    # Benchmark Branch: PR
    - git checkout $CI_COMMIT_SHA
    - git submodule update --init --recursive
    - pushd ./crates/wasmi
    - cargo criterion --message-format=json | tee -a ../target/ci/benchmarks.json
    - popd
    # Evaluates Benchmark Results
    - bash ./scripts/ci/benchmarks-report.sh ./target/ci/benchmarks.json
