[submodule "crates/wasmi/tests/spec/testsuite"]
	path = crates/wast/tests/spec/testsuite
	url = https://github.com/WebAssembly/testsuite.git
[submodule "crates/wasmi/benches/rust"]
	path = crates/wasmi/benches/rust
	url = https://github.com/wasmi-labs/rust-benchmarks
[submodule "crates/wast/tests/spec/memory64"]
	path = crates/wast/tests/spec/memory64
	url = https://github.com/wasmi-labs/wasmi-tests
	branch = main
[submodule "crates/wast/tests/wasmi"]
	path = crates/wast/tests/wasmi
	url = https://github.com/wasmi-labs/wasmi-tests
