[package]
name = "wasmi"
version = "0.10.0"
edition = "2021"
authors = ["Parity Technologies <admin@parity.io>", "Nikolay Volf <nikvolf@gmail.com>", "Svyatoslav Nikolsky <svyatonik@yandex.ru>", "Sergey Pepyakin <s.pepyakin@gmail.com>"]
license = "MIT/Apache-2.0"
readme = "README.md"
repository = "https://github.com/paritytech/wasmi"
documentation = "https://paritytech.github.io/wasmi/"
description = "WebAssembly interpreter"
keywords = ["wasm", "webassembly", "bytecode", "interpreter"]
exclude = [ "/res/*", "/tests/*", "/fuzz/*", "/benches/*" ]

[dependencies]
validation = { package = "wasmi-validation", version = "0.4", path = "validation", default-features = false }
parity-wasm = { version = "0.42.0", default-features = false }
memory_units = "0.3.0"
libm = "0.2.1"
num-rational = { version = "0.4", default-features = false, features = ["num-bigint"] }
num-traits = { version = "0.2.8", default-features = false }
region = { version = "3.0", optional = true }
downcast-rs = { version = "1.2", default-features = false }
spin = { version = "0.9", default-features = false, features = ["mutex", "spin_mutex"] }

[dev-dependencies]
assert_matches = "1.1"
rand = "0.4.2"
wabt = "0.9"
wast = "38.0"
anyhow = "1.0"

[features]
default = ["std"]
# Use `no-default-features` for a `no_std` build.
std = [
    "parity-wasm/std",
    "validation/std",
    "num-rational/std",
    "num-rational/num-bigint-std",
    "num-traits/std",
    "downcast-rs/std",
    "spin/std",
]
# Enables OS supported virtual memory.
#
# Note
#
# - This feature is only supported on 64-bit platforms.
#   For 32-bit platforms the linear memory will fallback to using the Vec
#   based implementation.
# - The default is to fall back is an inefficient vector based implementation.
# - By nature this feature requires `region` and the Rust standard library.
virtual_memory = ["region", "std"]

reduced-stack-buffer = [ "parity-wasm/reduced-stack-buffer" ]

[workspace]
members = ["validation"]
exclude = ["benches"]
