[workspace]
members = [
    "crates/arena",
    "crates/cli",
    "crates/core",
    "crates/wasmi",
    "crates/wasi",
    "crates/profiling",
    "crates/profiling/macro",
    "fuzz",
]
exclude = []
resolver = "2"

[workspace.package]
authors = ["Robin Freyler <robin.freyler@gmail.com>"]
repository = "https://github.com/wasmi-labs/wasmi"
version = "0.32.0-beta.8"
rust-version = "1.77"
edition = "2021"
readme = "README.md"
license = "MIT/Apache-2.0"
keywords = ["wasm", "webassembly", "interpreter", "vm"]
categories = ["wasm", "no-std", "virtualization"]
exclude = ["tests"]

[workspace.dependencies]
wasmi = { version = "0.32.0-beta.8", path = "crates/wasmi", default-features = false }
wasmi_wasi = { version = "0.32.0-beta.8", path = "crates/wasi", default-features = false }
wasmi_core = { version = "0.17.0", path = "crates/core", default-features = false }
wasmi_arena = { version = "0.5.0", path = "crates/arena", default-features = false }
wasmi_profiling = { version = "0.32.0-beta.8", path = "crates/profiling" }
wasmi_profiling_macro = { version = "0.32.0-beta.8", path = "crates/profiling/macro" }
num-traits = { version = "0.2.8", default-features = false }
serde = { version = "1" }

[profile.bench]
lto = "fat"
codegen-units = 1
