[workspace]
members = ["crates/arena", "crates/cli", "crates/core", "crates/wasmi", "crates/wasi"]
exclude = []
resolver = "2"

[workspace.package]
authors = ["Robin Freyler <robin.freyler@gmail.com>"]
repository = "https://github.com/wasmi-labs/wasmi"
version = "0.32.0-beta.7"
edition = "2021"
readme = "README.md"
license = "MIT/Apache-2.0"
keywords = ["wasm", "webassembly", "interpreter", "vm"]
categories = ["wasm", "no-std", "virtualization"]

[profile.bench]
lto = "fat"
codegen-units = 1
