[package]
name = "wasmi"
version = "0.5.1"
authors = ["Nikolay Volf <nikvolf@gmail.com>", "Svyatoslav Nikolsky <svyatonik@yandex.ru>", "Sergey Pepyakin <s.pepyakin@gmail.com>"]
license = "MIT/Apache-2.0"
readme = "README.md"
repository = "https://github.com/paritytech/wasmi"
documentation = "https://paritytech.github.io/wasmi/"
description = "WebAssembly interpreter"
keywords = ["wasm", "webassembly", "bytecode", "interpreter"]
exclude = [ "/res/*", "/tests/*", "/fuzz/*", "/benches/*" ]

[dependencies]
wasmi-validation = { version = "0.2", path = "validation", default-features = false }
parity-wasm = { version = "0.40.1", default-features = false }
memory_units = "0.3.0"
libm = { version = "0.1.2", optional = true }
num-rational = "0.2.2"
num-traits = "0.2.8"
libc = "0.2.58"
futures = "0.1.29"

[dev-dependencies]
assert_matches = "1.1"
rand = "0.4.2"
wabt = "0.9"
tokio = "0.1.22"

[features]
default = ["std"]
# Disable for no_std support
std = [
    "parity-wasm/std",
    "wasmi-validation/std",
    "num-rational/std",
    "num-traits/std"
]
# Enable for no_std support
core = [
    # `core` doesn't support vec_memory
    "vec_memory",
    "wasmi-validation/core",
    "libm"
]
# Enforce using the linear memory implementation based on `Vec` instead of
# mmap on unix systems.
#
# Useful for tests and if you need to minimize unsafe usage at the cost of performance on some
# workloads.
vec_memory = []

[workspace]
members = ["validation"]
exclude = ["benches"]
