[package]
name = "wasmi"
version = "0.0.0"
authors = ["Nikolay Volf <nikvolf@gmail.com>", "Svyatoslav Nikolsky <svyatonik@yandex.ru>", "Sergey Pepyakin <s.pepyakin@gmail.com>"]
license = "MIT/Apache-2.0"
readme = "README.md"
description = "WebAssembly interpreter"
keywords = ["wasm", "webassembly", "bytecode", "interpreter"]
exclude = [ "res/*", "spec/*" ]

[dependencies]
parity-wasm = "0.23"
byteorder = "1.0"
memory_units = { git = "https://github.com/pepyakin/memory_units.git", rev = "e09093e" }

[dev-dependencies]
wabt = "0.1.2"

[features]
# 32-bit platforms are not supported and not tested. Use this flag if you really want to use
# wasmi on these platforms.
# See https://github.com/pepyakin/wasmi/issues/43
32bit_opt_in = []
