[package]
name = "wasmi_cli"
version = "0.11.0"
documentation = "https://docs.rs/wasmi/"
description = "WebAssembly interpreter"
publish = false                          # We might want to publish this crate when dust has settled.
authors.workspace = true
repository.workspace = true
edition.workspace = true
readme.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
clap = { version = "4", features = ["derive"] }
wasmi = { path = "../wasmi" }
wat = "1"
anyhow = "1"
wasmi_wasi = { path = "../wasi" }

[dev-dependencies]
assert_cmd = "2.0.7"
