[package]
name = "wasmi-fuzz"
version = "0.0.0"
authors.workspace = true
readme.workspace = true
license.workspace = true
publish = false
edition.workspace = true

[package.metadata]
cargo-fuzz = true

[dependencies]
libfuzzer-sys = "0.4.7"
wasm-smith = "=0.13.1"
arbitrary = { version = "=1.3.2", features = ["derive"] }
wasmi-stack = { package = "wasmi", version = "0.31.1" }
wasmtime = "15.0.0"
wasmi = { workspace = true }

[[bin]]
name = "translate"
path = "fuzz_targets/translate.rs"
test = false
doc = false

[[bin]]
name = "translate_metered"
path = "fuzz_targets/translate_metered.rs"
test = false
doc = false

[[bin]]
name = "execute"
path = "fuzz_targets/execute.rs"
test = false
doc = false

[[bin]]
name = "differential"
path = "fuzz_targets/differential.rs"
test = false
doc = false
