[package]
name = "wasmi-fuzz"
version = "0.0.0"
authors = ["Parity Technologies <admin@parity.io>", "Robin Freyler <robin.freyler@gmail.com>"]
publish = false
edition = "2021"

[package.metadata]
cargo-fuzz = true

[dependencies]
libfuzzer-sys = "0.4.7"
wasm-smith = "=0.13.1"
arbitrary = { version = "=1.3.2", features = ["derive"] }
wasmi-stack = { package = "wasmi", version = "0.31.1" }

[dependencies.wasmi]
path = "../crates/wasmi"

# Prevent this from interfering with workspaces
[workspace]
members = ["."]

[[bin]]
name = "translate"
path = "fuzz_targets/translate.rs"
test = false
doc = false

[[bin]]
name = "translate_metered"
path = "fuzz_targets/translate_metered.rs"
test = false
doc = false

[[bin]]
name = "execute"
path = "fuzz_targets/execute.rs"
test = false
doc = false

[[bin]]
name = "differential"
path = "fuzz_targets/differential.rs"
test = false
doc = false
