[package]
name = "wasmi"
version.workspace = true
rust-version.workspace = true
documentation = "https://docs.rs/wasmi/"
description = "WebAssembly interpreter"
authors.workspace = true
repository.workspace = true
edition.workspace = true
readme.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true
exclude.workspace = true

[dependencies]
wasmparser = { version = "0.100.1", package = "wasmparser-nostd", default-features = false }
wasmi_core = { workspace = true }
wasmi_arena = { workspace = true }
wasmi_profiling = { workspace = true, optional = true }
spin = { version = "0.9", default-features = false, features = [
    "mutex",
    "spin_mutex",
    "rwlock",
] }
smallvec = { version = "1.13.1", features = ["union"] }
multi-stash = { version = "0.2.0" }
num-traits = { workspace = true }
num-derive = "0.4"
arrayvec = { version = "0.7.4", default-features = false }
serde = { workspace = true, optional = true }

[dev-dependencies]
wat = "1"
assert_matches = "1.5"
wast = "70.0.2"
anyhow = "1.0"
criterion = { version = "0.5", default-features = false }

[features]
default = ["std"]
std = [
    "wasmi_core/std",
    "wasmi_arena/std",
    "wasmparser/std",
    "spin/std",
    "num-traits/std",
    "arrayvec/std",
]
profiling = ["std", "wasmi_profiling", "serde"]

[[bench]]
name = "benches"
harness = false
