[package]
name = "wasmi"
version = "0.32.0-beta.2"
documentation = "https://docs.rs/wasmi/"
description = "WebAssembly interpreter"
exclude = ["tests/*", "benches/*"]
authors.workspace = true
repository.workspace = true
edition.workspace = true
readme.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
wasmparser = { version = "0.100.1", package = "wasmparser-nostd", default-features = false }
wasmi_core = { version = "0.15", path = "../core", default-features = false }
wasmi_arena = { version = "0.4", path = "../arena", default-features = false }
spin = { version = "0.9", default-features = false, features = [
    "mutex",
    "spin_mutex",
    "rwlock",
] }
smallvec = { version = "1.10.0", features = ["union"] }
multi-stash = { version = "0.2.0" }
num-traits = { version = "0.2", default-features = false }
num-derive = "0.4"

[dev-dependencies]
wat = "1"
assert_matches = "1.5"
wast = "64.0"
anyhow = "1.0"
criterion = { version = "0.5", default-features = false }

[features]
default = ["std"]
std = ["wasmi_core/std", "wasmi_arena/std", "wasmparser/std", "spin/std", "num-traits/std"]

[[bench]]
name = "benches"
harness = false
