[package]
name = "wasm-kernel"
version = "0.1.0"
authors = ["Sergey Pepyakin <s.pepyakin@gmail.com>"]
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
tiny-keccak = "1.4.2"
regex = "0.2.10"
lazy_static = "1.0"

[profile.release]
panic = "abort"
lto = true
opt-level = "z"
