name: Rust - Miri Testing (CRON)
on:
  schedule:
    # Conduct Miri testing on 3:30 UTC every night.
    - cron: "30 3 * * *"
jobs:
  miri:
    name: Miri
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
        - uses: dtolnay/rust-toolchain@nightly
          with:
            components: miri
            targets: x86_64-unknown-linux-gnu
        - name: Set up Cargo cache
          uses: actions/cache@v4
          continue-on-error: false
          with:
            path: |
              ~/.cargo/bin/
              ~/.cargo/registry/index/
              ~/.cargo/registry/cache/
              ~/.cargo/git/db/
              ~/target/
            key: ${{ runner.os }}-cargo-miri-${{ hashFiles('**/Cargo.lock') }}
            restore-keys: ${{ runner.os }}-cargo-miri-
        - name: Checkout Submodules
          run: git submodule update --init --recursive
        - name: Install cargo-nextest
          run: |
            # Note: We use `|| true` because cargo install returns an error
            #       if cargo-nextest was already installed on the CI runner.
            cargo install cargo-nextest || true
        - name: Miri Testing - Wasm Spec Testsuite
          run: cargo miri nextest run --test-threads 4 --target x86_64-unknown-linux-gnu --test spec_shim
